{% extends 'layouts/base.html' %}
{% block content %}
<div>
  <div class="input_container">
      <form>
            <label for="objname">Название</label>
            <input class="inp title" type="text" id="objname" placeholder="Введите название.." value="{{object.name}}">

            <label for="address">Адрес</label>
            <input class="inp title" type="text" id="address" placeholder="Введите адрес.." value="{{object.address}}">

            <label for="coord">Координаты</label>
            <input class="inp title" type="text" id="coord" placeholder="Введите координаты.." value="{{object.coordinate}}">

            <label for="descr">Описание</label>
            <input class="inp title" type="text" id="descr" placeholder="Введите описание.." value="{{object.description}}">
            <label>Выбранные Теги:</label>
      </form>
      <div>
          {% for tag in object_tags_list %}
           <label class="radio-button">
               <input type="radio" {% if tag.is_main == 1 %}checked="checked"{%endif%} name="radio">
               <span class="checkmark"></span>
               <div class="border_div">
                       <div class="row">
                          {% include 'include_components/tag_card.html' %}
                       </div>
               </div>
               </label>
          {% endfor %}
      </div>
      <form action="{% url 'del_object' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="object_id" value="{{ object.id }}">
          <input type="submit" value="Удалить">
      </form>
  </div>

</div>
{% endblock %}